$white:#FFFFFF;
$purple:#2A2367;
$regular-purple:#6B5AF9;
$soft-purple:#7A6AFF;
$orange-skin:#E37575;
$yellow:#F0D577;
$green:#43CD93;
$grey:#BDBDBD;
$bg-main-form:#F4F8FF;
$fixed-header:#9895b4;
$bg-form:#7E7E7E;
$soft-white:#C4C4C4;
$text-grey:#9F9F9F;
$bright-purple:#9B8FFF;
$title-color:#7C7C7C;
$bg-before:#897BFF;