$fontRegular:'Montserrat Regular',sans-serif;
$fontMedium:'Montserrat Medium',sans-serif;
$fontSemiBold:'Montserrat SemiBold',sans-serif;
$fontBold:'Montserrat Bold',sans-serif;
$fontExtraBold:'Montserrat ExtraBold',sans-serif;